@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    height: 100%;
    margin: 0;
    font-family: "roboto", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter {
    font-size: x-small;
    color: blue;
}

.left-column {
    flex: 20%;
    border-right: 1px solid #ccc;
}

.right-column {
    flex: 80%;
    text-align: center;
}

.texto {
    text-align: center;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.profile-pic {
    width: 66px;
    height: 67px;
    border-radius: 50%;
}

.profile-info {
    margin-left: 3em;

    p {
        margin: 0;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 2em 3em;
}

.icon-text {
    display: flex;
    padding: 1em;
    margin-left: 3em;
}

.icon {
    padding: 0em 0em 0em 2em;
    color: grey;
    font-size: large;
}

.action-btn {
    padding: 10px 20px;
    background-color: rgb(204, 173, 233);
    border: none;
    color: white;
}

.photos {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.photo {
    display: flex;
    padding: 5px;
    flex: 0 0 95%;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.photo-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.photo-info {
    margin-left: 20px;
}

.placeholder-img {
    max-width: 40%;
}

.final-texto {
    font-size: 50px;
    margin-left: 0%;
}